<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-title>
      <div class="flex justify-between">
        {{title | async}}
        <img src="../../../assets/icon/Plan-A-Technologies-Light-2.svg" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div></div>
  <h1 class="flex items-center justify-center">{{description | async}}</h1>

  <div>
    <b>Reactive Form</b>
    <form [formGroup]="form" novalidate>
      <app-checkbox-group formControlName="items" (change)="saveCustomResult()"></app-checkbox-group>
    </form>
    <p>Profile State Is: [ {{profileData$ | async}} ]</p>
  </div>
</ion-content>
